@import "../../styles/mixins/fonts.scss";
@import "../../styles/variables/colors.scss";

.header{
    height: 124px;
    border-bottom: 1px solid $color-blue-light-hover;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 100%;
}

.leftBlock{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 40px;
    line-height: 50px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    font-weight: 600;
    display: flex;
    color: $color-black;

    .icon{
        display: block;
        font-size: 38px;
        margin-top: 7px;
        font-weight: bold;
    }
}

.contacts{
    margin-left: 80px;

    .capture{
        @include text-14;
        margin-top: 6px;
    }

    .phone{
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .iconPhone{
        color: #fff;
        border-radius: 50%;
        background-color: #eb0a1e;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        font-size: 16px;
        padding: 4px;
        font-weight: bold;
    }
}