@import "../../styles/includes.scss";

.button{
   @include text-16;
   background: $color-blue;
   cursor: pointer;
   color: #fff;
   border-radius: 8px;
   padding: 17px 24px;
   border: none;
   outline: none;
   font-weight: 500;

   &:hover{
      background: $color-blue-hover;
   }
}

.fullWidth{
   width: 100%;
}