@import "../../styles/_includes.scss";

.logo{
    font-size: 40px;
    line-height: 50px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    font-weight: 600;
    display: flex;
    color: $color-black;


    .icon path, .icon svg, .icon{
        font-variation-settings: 'OPSZ' 40;
        font-size: 40px;
        width: 1em;
        height: 1em;
    }

    @include screen-m-and-lesser{
        font-size: 30px;
        padding-bottom: 2px;

        .icon path{
            
        }
    }

    @include screen-s-and-lesser{
        padding-bottom: 0;
        border: none;
        font-size: 27px;

        .icon path{
            
        }
    }
}
