$color-black-100: rgb(172, 189, 201);
$color-black: rgb(38, 39, 41);

$color-gray: rgba(120, 187, 153, 0.133);
$color-gray-light: rgb(198,209,211);

$color-blue: hsla(216, 62%, 36%, 1);
$color-blue-light: rgb(240,246,250);
$color-blue-light-hover: rgba(217,228,235,.6);

// $color-orange-hover: hsla(29, 98%, 35%, 1);
// $color-blue-hover: hsla(216, 76%, 27%, 1);
// $color-green-hover: hsla(90, 35%, 40%, 1);

// $color-link-hover: rgb(255, 76, 0);
