@import "../../../styles/includes.scss";

.input{

    input{
        padding: 18px 12px 18px 16px;
        width: 100%;
        outline: none;
        border: 1px solid $color-black-100;
        border-radius: 8px;
    }
}